{% load static %}
<link rel="stylesheet" href="{% static 'polls/game_controls.css' %}">


<div class="controls-panel">
    <h2>Controles del Juego</h2>
    <div class="control-item">
        <img src="{% static 'vrgame/icons/leftclick.png' %}">
        <span>:</span> Pulsar objetos
    </div>
    <div class="control-item">
        <img src="{% static 'vrgame/icons/rightcontrollerdef.png' %}">
        <span>:</span> Pulsar objetos (VR)
    </div>
	<div class="control-item">
        <img src="{% static 'vrgame/icons/wasd.png' %}">
        <span>:</span> Mover al personaje
    </div>
    <div class="control-item">
        <img src="{% static 'vrgame/icons/leftcontrollerdef.png' %}">
        <span>:</span> Mover al personaje (VR)
    </div>
    <div class="control-item">
        <img src="{% static 'vrgame/icons/movemouse.png' %}">
        <span>:</span> Rotar la cámara
    </div>
    <div class="control-item">
        <img src="{% static 'vrgame/icons/rotatevr.png' %}">
        <span>:</span> Rotar la cámara (VR)
    </div>
</div>
