<!-- games.html -->

{% extends 'polls/patientdash.html' %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}
<link rel="stylesheet" href="{% static 'polls/games.css' %}">
    <!-- Content block for the games page -->
    <div class="games-content container">
        <h1 class="text-section">Games for Patients</h1>
        <p class="text-section">Enjoy these fun and interactive games!</p>
        <!-- Add games or game-related content as needed -->
        <div class="game">
            <h2>Game 1</h2>
            <p>Find coloured objects</p>
            <a href="{% url 'polls:vrgame' %}">VR GAME</a>
            <!-- Add content for Game 1 -->
        </div>

        <div class="game">
            <h2>Game 2</h2>
            <p>Find the remote control </p>
			<a href="{% url 'polls:vrgame2' %}">VR GAME</a>
            <!-- Add content for Game 2 -->
        </div>

        <!-- Add more games as needed -->
    </div>
{% endblock %}
