{% extends 'polls/doctordash.html' %}

{% block content %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/patients.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="welcome text-center">Assigned Patients</h1>
                <ul class="patient-list">
                    {% for patient in patients %}
                        <li class="patient-item">
                            <a href="#">{{ patient.username }}</a>
                            <span class="date-added">Added on: {{ patient.date_joined|date:"F d, Y" }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 image-column">
                <!-- Image here -->
                <img src="{% static 'polls/images/assignedpatient.png' %}" alt="Image" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}
