{% extends 'polls/doctordash.html' %}

{% block content %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/patient_detail.css' %}">
    <div class="container">
        {% if messages %}
            <div class="message-box">
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} text-center success-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h1 class="welcome text-center">Patient Details</h1>

      
        <div class="delete-button-container">
            <a href="{% url 'polls:delete_patient' patient_id=patient.id %}" class="delete-button">Delete Patient</a>
        </div>

        <div class="game-stats-button-container">
            <a href="{% url 'polls:game_statistics' patient_id=patient.id  %}" class="btn btn-primary">View Game Statistics</a>
        </div>


        <form method="post">
            {% csrf_token %}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
            <label for="{{ form.surname.id_for_label }}">Surname:</label>
            {{ form.surname }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            <label for="{{ form.age.id_for_label }}">Age:</label>
            {{ form.age }}
            <label for="{{ form.pathology_details.id_for_label }}">Pathology Details:</label>
            {{ form.pathology_details }}
			<label for="{{ form.number_objects.id_for_label }}">Number objects:</label>
            {{ form.number_objects }}
			<label for="{{ form.remote_difficulty.id_for_label }}">Find the remote control difficulty:</label>
            {{ form.remote_difficulty }}
            <input type="submit" value="Save Changes">
        </form>
    </div>
{% endblock %}
