{% extends 'polls/doctordash.html' %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}
<link rel="stylesheet" href="{% static 'polls/games_statistics.css' %}">
<!-- Content block for the game statistics page -->
<div class="game-stats-content container">
    <h1>Game Statistics for {{ patient.username }}</h1>
    <div class="game-stats-section">
        {% if game_sessions %}
            {% for session in game_sessions %}
                <div class="game-stats">
                    <h2>Date: {{ session.play_date }}</h2>
                    <p>Elapsed Time: {{ session.elapsed_time }} seconds</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No game sessions found for this patient.</p>
        {% endif %}
    </div>
</div>
{% endblock %}


