<!-- games.html -->

{% extends 'polls/patientdash.html' %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}
<link rel="stylesheet" href="{% static 'polls/games.css' %}">
    <!-- Content block for the games page -->
    <div class="games-content container">
 <a-scene embedded timedelta="1000" renderer="colorManagement: true;" stats>

      <a-assets>
                
        
        <img crossorigin="anonymous" id="wood-floor" src="{% static 'vrgame/imgs/floor.jpg' %}">
        <img crossorigin="anonymous" id="kitchen-floor" src="{% static 'vrgame/imgs/kitchen_floor.webp' %}">
        <img crossorigin="anonymous" id="kitchen-wall" src="{% static 'vrgame/imgs/kitchen_wall.webp' %}">
        <img crossorigin="anonymous" id="bathroom-floor" src="{% static 'vrgame/imgs/bathroom_floor.webp' %}">
        <img crossorigin="anonymous" id="bathroom-wall" src="{% static 'vrgame/imgs/bathroom_wall.webp' %}">

        <a-asset-item id="table" src="{% static 'vrgame/imgs/table.glb' %}"></a-asset-item>
        <a-asset-item id="lounge_sofa" src="{% static 'vrgame/imgs/sofa_1.glb' %}"></a-asset-item>
        <a-asset-item id="green_pillow" src="{% static 'vrgame/imgs/green_pillow.glb' %}"></a-asset-item>
        <a-asset-item id="yellow_vase" src="{% static 'vrgame/imgs/yellow_vase.glb' %}"></a-asset-item>
        <a-asset-item id="tissues" src="{% static 'vrgame/imgs/tissues.glb' %}"></a-asset-item>
        <a-asset-item id="coffee_table" src="{% static 'vrgame/imgs/coffee_table.glb' %}"></a-asset-item>
        <a-asset-item id="book" src="{% static 'vrgame/imgs/book.glb' %}"></a-asset-item>
        <a-asset-item id="tv" src="{% static 'vrgame/imgs/tv.gltf' %}"></a-asset-item>
        <a-asset-item id="painting_1" src="{% static 'vrgame/imgs/painting_1.glb' %}"></a-asset-item>
        <a-asset-item id="painting_2" src="{% static 'vrgame/imgs/painting_2.glb' %}"></a-asset-item>
        <a-asset-item id="lounge_chair" src="{% static 'vrgame/imgs/lounge_chair.glb' %}"></a-asset-item> 
        <a-asset-item id="fruit_bowl" src="{% static 'vrgame/imgs/fruit_bowl.glb' %}"></a-asset-item>
        <a-asset-item id="lounge_drawers" src="{% static 'vrgame/imgs/lounge_drawers.glb' %}"></a-asset-item>
       


        <a-asset-item id="kitchen_counter" src="{% static 'vrgame/imgs/kitchen_counter.glb' %}"></a-asset-item>
        <a-asset-item id="fridge" src="{% static 'vrgame/imgs/fridge_1.glb' %}"></a-asset-item>
        <a-asset-item id="toaster" src="{% static 'vrgame/imgs/toaster.glb' %}"></a-asset-item>
        <a-asset-item id="kitchen_cupboard" src="{% static 'vrgame/imgs/kitchen_cupboard.glb' %}"></a-asset-item>
        <a-asset-item id="sauce_pan" src="{% static 'vrgame/imgs/sauce_pan.glb' %}"></a-asset-item>
        <a-asset-item id="coffee_machine" src="{% static 'vrgame/imgs/coffee_machine.glb' %}"></a-asset-item>
        <a-asset-item id="kettle" src="{% static 'vrgame/imgs/kettle.glb' %}"></a-asset-item>




        <a-asset-item id="toilet_1" src="{% static 'vrgame/imgs/toilet.glb' %}"></a-asset-item>
        <a-asset-item id="sink_1" src="{% static 'vrgame/imgs/sink_1.glb' %}"></a-asset-item>
        <a-asset-item id="soap" src="{% static 'vrgame/imgs/soap.glb' %}"></a-asset-item>
        <a-asset-item id="dustbin" src="{% static 'vrgame/imgs/dustbin.glb' %}"></a-asset-item>


        <a-asset-item id="bathtub" src="{% static 'vrgame/imgs/bathtub.gltf' %}"></a-asset-item>
        <a-asset-item id="toilet_2" src="{% static 'vrgame/imgs/toilet_2.gltf' %}"></a-asset-item>
        

        <a-asset-item id="bed_1" src="{% static 'vrgame/imgs/bed_1.glb' %}"></a-asset-item>
        <a-asset-item id="bedside_table_1" src="{% static 'vrgame/imgs/bedside_table_1.glb' %}"></a-asset-item>
        <a-asset-item id="wardrobe_1" src="{% static 'vrgame/imgs/wardrobe_1.glb' %}"></a-asset-item>
        <a-asset-item id="stool" src="{% static 'vrgame/imgs/Stool.glb' %}"></a-asset-item>
        <a-asset-item id="truck" src="{% static 'vrgame/imgs/truck.glb' %}"></a-asset-item>
        <a-asset-item id="toy_car" src="{% static 'vrgame/imgs/toy_car.glb' %}"></a-asset-item>
        <a-asset-item id="shelf_bedroom_1" src="{% static 'vrgame/imgs/shelf_bedroom_1.glb' %}"></a-asset-item>
        <a-asset-item id="football" src="{% static 'vrgame/imgs/football.glb' %}"></a-asset-item>
        <a-asset-item id="rocket" src="{% static 'vrgame/imgs/rocket.glb' %}"></a-asset-item>


        <a-asset-item id="lights" src="{% static 'vrgame/imgs/lights.glb' %}"></a-asset-item>
        <a-asset-item id="ottoman" src="{% static 'vrgame/imgs/ottoman_good.glb' %}"></a-asset-item>
        <a-asset-item id="hat" src="{% static 'vrgame/imgs/hat.glb' %}"></a-asset-item>
        <a-asset-item id="bottle_water" src="{% static 'vrgame/imgs/bottle_water.glb' %}"></a-asset-item>
        <a-asset-item id="shoes" src="{% static 'vrgame/imgs/shoes.glb' %}"></a-asset-item>
        <a-asset-item id="desk" src="{% static 'vrgame/imgs/desk.glb' %}"></a-asset-item>
        <a-asset-item id="laptop" src="{% static 'vrgame/imgs/laptop.gltf' %}"></a-asset-item>
        <a-asset-item id="mouse" src="{% static 'vrgame/imgs/mouse.glb' %}"></a-asset-item>
        <a-asset-item id="headphones" src="{% static 'vrgame/imgs/headphones.glb' %}"></a-asset-item>
        <a-asset-item id="guitar" src="{% static 'vrgame/imgs/guitar.glb' %}"></a-asset-item>
        <a-asset-item id="poster" src="{% static 'vrgame/imgs/poster.glb' %}"></a-asset-item>
       

        <a-asset-item id="main_wardrobe" src="{% static 'vrgame/imgs/main_wardrobe.glb' %}"></a-asset-item>
        <a-asset-item id="vanity" src="{% static 'vrgame/imgs/vanity.glb' %}"></a-asset-item>
        <a-asset-item id="main_lamp" src="{% static 'vrgame/imgs/main_lamp.glb' %}"></a-asset-item>
        <a-asset-item id="main_painting" src="{% static 'vrgame/imgs/main_painting.glb' %}"></a-asset-item>
     
       


        

      </a-assets>
      <a-entity environment="preset: default; ground:flat"></a-entity>


      <!--<a-entity wasd-controls kinema-body="radius: 0.8" movement-controls="fly: false" position="0 0 5" look-controls>
        <a-entity id="camera" camera position="0 1.6 0" ></a-entity>
          <a-cursor fuse="false" rayOrigin="mouse"></a-entity>
      </a-entity>-->


      <a-entity id="rig">
        <a-entity id="camera" camera-listener camera-movement camera wasd-controls="acceleration:20" look-controls position="-0.5 1.6 0" geometry="primitive: sphere; radius: 11" >
          <!-- Move the raycaster inside the camera entity as a child entity -->
          <a-cursor  id="front-cursor" line="end: 0 0 -1.45" raycaster="interval:100;showLine:true; enabled:true;far:5;objects: .clickable" position="0 0 -1" raycaster-wall></a-cursor>
          <a-cursor  id="front-cursor2" line="end: 0 0 -1.45" raycaster="interval:100;showLine:true; enabled:true;far:5;objects: .door-hole" position="0 0 -1" raycaster-wall></a-cursor>
          <!--<a-cursor id="left-cursor" rotation="0 90 0" raycaster="interval: 100; showLine: true; enabled: true;objects: .clickable;far:2" position="-1 0 0"></a-cursor>
          <a-cursor id="right-cursor" rotation="0 -90 0" raycaster="interval: 100; showLine: true; enabled: true;objects: .clickable;far:2" position="1 0 0"></a-cursor>
          <a-cursor id="back-cursor" raycaster="interval: 100; showLine: true; enabled: true;objects: .clickable;far:2" position="0 0 1" rotation="0 180 0"></a-cursor>-->
        </a-entity>
      </a-entity>

      
      <a-entity id="door-salon"  position=" 1 1 -3.5" rotation="0 -90 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box  width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box  id="salon-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 90 0" width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-salon-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>

      <a-entity id="door-outside" position="-5.5 1 -3.5" rotation="0 -90 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="outside-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 90 0" width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-outside-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>


      <a-entity class="collidable" id="door-kitchen" position=" 0.25 1 -2.5" rotation="0 180 0">
        <a-box class="collidable"  width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box   class="collidable" width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box  class="collidable" width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
          <a-box id="door-kit" raycaster-collide class="clickable" door-test="rotation: 0 90 0" width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
          <a-box visible="false" class="door-hole" id="invisible-door-kit" raycaster-collide  width="1.1" height="2.3" depth="0.1" color="yellow" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
      </a-entity>

      <a-entity id="door-bedroom1" position=" -1.5 1 -9.5" rotation="0 90 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="bed1-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 90 0"width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-bed1-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>

      <a-entity id="door-bedroom2" position=" -0.75 1 -10.5" rotation="0 0 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="bed2-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 90 0"width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-bed2-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>

      <a-entity id="door-bathroom1" position=" 2 1 -8" rotation="0 0 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="bath1-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 -90 0"width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-bath1-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
           
      </a-entity>

      <a-entity id="door-bedroom3" position=" 4 1 -9.25" rotation="0 90 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="bed3-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 -90 0"width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-bed3-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>

      <a-entity id="door-bathroom2" position=" 9 1 -8" rotation="0 0 0">
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="0.6 0 0"></a-box>
        <a-box width="0.1" height="2.4" depth="0.1" color="white" position="-0.6 0 0"></a-box>
        <a-box width="1.3" height="0.1" depth="0.1" color="white" position="0 1.2 0"></a-box>
        <a-box id="bath2-d" raycaster-collide class="clickable" door-test="rotation: 0 90 0" door-opener-test="rotation: 0 -90 0"width="1.1" height="2.3" depth="0.1" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
        <a-box  visible="false" class="door-hole" id="invisible-bath2-d" raycaster-collide   width="1.1" height="2.3" depth="0.0001" color="brown" pivot="-0.55 0 0" position="0 0 0" rotation="0 0 0"></a-box>
     
      </a-entity>


<!-- cocina-->
    <rw-room position="-2.5 0.01 -2.5" width="3.5" length="6" height="3">
        
        <rw-wall  id="k3" raycaster-wall class="clickable" material="src:#kitchen-wall;repeat:2 2">
          <rw-doorhole id="cocina"></rw-doorhole>
        </rw-wall>
        <rw-wall id="k4" raycaster-wall class="clickable" material="src:#kitchen-wall;repeat:2 2"></rw-wall>
        <rw-wall id="k1" raycaster-wall class="clickable" material="src:#kitchen-wall;repeat:2 2">
        </rw-wall>
        <rw-wall id="k2"  raycaster-wall class="clickable" material="src:#kitchen-wall;repeat:2 2"></rw-wall>
        



        <a-gltf-model id="id_kitchen_counter" src="#kitchen_counter" scale="0.6 0.6 0.2" position="0.3 0.01 3" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_fridge" src="#fridge" scale="0.015 0.012 0.005" position="0.3 0.001 5.2" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_toaster" src="#toaster" scale="0.05 0.05 0.05" position="0.3 0.9 1.8" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_kitchen_cupboard" src="#kitchen_cupboard" scale="0.5 0.5 0.2" position="0.1 2.2 3.2" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_sauce_pan" src="#sauce_pan" scale="0.8 0.8 0.8" position="0.4 1 2.3" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_coffee_machine" src="#coffee_machine" scale="0.7 1.1 0.8" position="0.2 0.85 3.3" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_kettle" src="#kettle" scale="2 2 2" position="0.3 0.9 4" rotation="0 75 0" class = "clickable"></a-gltf-model>
      


        <rw-floor material="src:#kitchen-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>

    </rw-room>

      <rw-doorlink from="#cocina" to="#pasillo1" width="1.25" height="2.15" position="0.25 0 0">
      </rw-doorlink>

    <!--pasillo 1-->  
    <rw-room position="-1.5 0.01 -10.5" width="2.5" length="8" height="3">
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo-habitacion2"></rw-doorhole>
            <rw-doorlink from="#pasillo-habitacion2" to="#habitacion2" width="1.25" height="2.15" position="0.75 0 0"></rw-doorlink>
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo-salon"></rw-doorhole>    
            <rw-doorhole id="pasillo1-pasillo2"></rw-doorhole> 
            <rw-doorlink from="#pasillo1-pasillo2" to="#pasillo2-pasillo1" width="2.4999" height="3" position="0 0 0"></rw-doorlink>
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo1"></rw-doorhole>
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo-entrada"></rw-doorhole>
            <rw-doorhole id="pasillo-habitacion1"></rw-doorhole>
            <rw-doorlink from="#pasillo-habitacion1" to="#habitacion1" width="1.25" height="2.15" position="7 0 8"></rw-doorlink>
          
        </rw-wall>
        
        
        


        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
        
    </rw-room>
    <rw-doorlink from="#pasillo-salon" to="#salon" width="1.25" height="2.15" position="0 0 -3.5"></rw-doorlink>
    <rw-doorlink from="#pasillo-entrada" to="#entrada" width="1.999" height="3">
    </rw-doorlink>

    <!--entrada-->
    <rw-room position="-5.5 0.01 -4.5" width="4" length="2" height="3">
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="entrada" width="2"></rw-doorhole>
        </rw-wall>
        <rw-wall material="color:#FFF">
     
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="frontInner"></rw-doorhole>
        </rw-wall>
        
        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>

    <rw-room position="-5.5 0 0" outside="true"  material="color:#877">
        
        <rw-wall  position="0 0 -16" height="3.4">
            <rw-doorhole id="frontOuter"></rw-doorhole>
          <rw-doorlink from="#frontInner" to="#frontOuter" width="1.25" material="color:#778" position="12.5 0 0">
            <rw-floor></rw-floor>
            <rw-ceiling></rw-ceiling>
            <rw-sides></rw-sides>
          </rw-doorlink>
        </rw-wall>
        
        <rw-wall position=" 17 0 -16" height="3.4">
            
        </rw-wall>
        <rw-wall position=" 17 0  4" height="3.4">
            
        </rw-wall>
        <rw-wall position="0 0  4" height="3.4">
          
        </rw-wall>
        
      </rw-room>

   
    <!--salon-->
    <rw-room position="1 0.01 -4.5" width="10" length="8" height="3">
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
        </rw-wall>
        <rw-wall material="color:#FFF">
           
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="salon"></rw-doorhole>
        </rw-wall>

        <a-gltf-model id="id_table" src="#table" scale="0.1 0.2 0.3" position="2 0.01 5.5" rotation="0 90 0" visible="true" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_sofa" src="#lounge_sofa" scale="1 1 1" position="6 0.01 2" rotation="0 90 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_green_pillow_1" src="#green_pillow" scale="0.4 0.4 0.4" position="6 0.88 2"  rotation="70 90 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_green_pillow_2" src="#green_pillow" scale="0.4 0.4 0.4" position="6 0.88 2.7"  rotation="70 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_green_pillow_3" src="#green_pillow" scale="0.4 0.4 0.4" position="6 0.88 1.25"  rotation="70 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_tissues" src="#tissues" scale="1 1 1" position="8.6 0.6 2.1" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_coffee_table" src="#coffee_table" scale="1 1 1" position="8.5 0.01 2" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_book" src="#book" scale="2.5 2.5 2.5" position="8.5 0.45 1.7" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_tv" src="#tv" scale="1.5 1.5 1.5" position="10 1 2" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_painting_1" src="#painting_1" scale="0.5 0.5 0.5" position="8 1.5 0.02" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_painting_2" src="#painting_2" scale="1 1 1" position="9.95 1.5 6" rotation="0 180 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_lounge_chair_1" src="#lounge_chair" scale="1.2 1.5 1.2" position="3.5 0.01 6.4" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_lounge_chair_2" src="#lounge_chair" scale="1.2 1.5 1.2" position="4.7 0.01 6.4" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_lounge_chair_3" src="#lounge_chair" scale="1.2 1.5 1.2" position="3.5 0.01 5" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_lounge_chair_4" src="#lounge_chair" scale="1.2 1.5 1.2" position="4.7 0.01 5" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_fruit_bowl" src="#fruit_bowl" scale="1.5 1.5 1.5" position="4.1 1 5.7" rotation="0 0 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_lounge_drawers" src="#lounge_drawers" scale="1.5 1 1" position="3 0.01 0.01" rotation="0 0 0" class = "clickable" ></a-gltf-model>
        
        



        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>
    <!-- bedroom 1-->
    <rw-room position="-5.5 0.01 -16" width="4" length="9" height="3">
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="habitacion1" width="2"></rw-doorhole>
        </rw-wall>
        <rw-wall material="color:#FFF">

           
        </rw-wall>
        <rw-wall material="color:#FFF">

        </rw-wall>
        


        <a-gltf-model id="id_bed_1" src="#bed_1" scale="0.3 0.6 0.3" position="0.8 0.01 1.1" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_bedside_table_1" src="#bedside_table_1" scale="0.35 0.2 0.35" position="2.5 0.01 0.35" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_wardrobe_1" src="#wardrobe_1" scale="1 1.2 1" position="2.4 0.01 9" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_painting_3" src="#painting_1" scale="1 1 1" position="0.05 1.2 7" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_stool_1" src="#ottoman" scale="1 1 1" position="0.4 0.1 8.5" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_stool_2" src="#ottoman" scale="1 1 1" position="3.5 0.1 0.4" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_truck" src="#truck" scale="0.025 0.025 0.025" position="0.2 1.58 3.2" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_toy_car" src="#toy_car" scale="0.1 0.1 0.1" position="0.2 1.4 4.5" rotation="0 290 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_shelf_bedroom_1" src="#shelf_bedroom_1" scale="1 1.3 1" position="0.2 0.01 3.7" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_football" src="#football" scale="0.3 0.3 0.3" position="0.2 1.5 3.55" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_rocket" src="#rocket" scale="0.1 0.1 0.1" position="0.2 1.4 3.9" rotation="0 290 0" class = "clickable"></a-gltf-model>


        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>


    <!-- bedroom 2-->
    <rw-room position="-1.5 0.01 -16" width="5.5" length="5.5" height="3">
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
        
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="habitacion2"></rw-doorhole> 
        </rw-wall>
        <rw-wall material="color:#FFF">
        </rw-wall>
        

        <a-gltf-model id="id_bed_2" src="#bed_1" scale="0.3 0.6 0.3" position="0.8 0.01 1.1" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_shelf_bedroom_2" src="#shelf_bedroom_1" scale="1 1.3 1" position="3 0.01 0.35" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_lights" src="#lights" scale="1 2 1" position="5 0.01 0.5" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_ottoman" src="#ottoman" scale="1.5 1.5 1" position="0.9 0.3 2.8" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_hat" src="#hat" scale="1.4 1.4 1.4" position="2.4 1.45 0.4" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_bottle_water" src="#bottle_water" scale="0.08 0.08 0.08" position="2.8 1.52 0.3" rotation="0 130 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_shoes" src="#shoes" scale="0.8 0.8 0.8" position="3.5 1.4 0.3" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_desk" src="#desk" scale="1.2 1.5 0.8" position="5 0.01 3" rotation="0 90 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_laptop" src="#laptop" scale="1 1 1" position="5 1.1 2.7" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_mouse" src="#mouse" scale="1 1 1" position="5 1.1 3" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_headphones" src="#headphones" scale="0.3 0.3 0.3" position="5 1.15 3.4" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_guitar" src="#guitar" scale="0.3 0.3 0.3" position="5.7 0.8 4.5" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_poster" src="#poster" scale="0.05 0.05 0.05" position="0.8 2.1 0.02" rotation="0 0 0" class = "clickable"></a-gltf-model>
        




        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>


    <!-- bathroom 1-->
    <rw-room position="1 0.01 -8" width="4" length="3.5" height="3">
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
            <rw-doorhole id="bano1" width="1"></rw-doorhole> 
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
        
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
            
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">

        </rw-wall>
        


        <a-gltf-model id="id_toilet_1" src="#toilet_1" scale="1.5 1.5 1.5" position="1 -0.01 3" rotation="0 140 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_sink_1" src="#sink_1" scale="1.5 1 1" position="3.7 -0.01 3" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_soap" src="#soap" scale="1.8 1.8 1.8" position="3.7 0.75 2.7" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_dustbin" src="#dustbin" scale="1 1 1" position="2.5 0.01 3" rotation="0 180 0"  class = "clickable">></a-gltf-model>


        <rw-floor material="src:#bathroom-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#AAA"></rw-ceiling>
    
    </rw-room>

    <!-- pasillo2-->
    <rw-room position="1 0.01 -10.5" width="3" length="2.5" height="3">
        <rw-wall material="color:#FFF">
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo2-habitacion3"></rw-doorhole>
            <rw-doorlink from="#pasillo2-habitacion3" to="#habitacion3" width="1.25" height="2.15" position="1.25 0 0"></rw-doorlink>
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo2-bano1"></rw-doorhole>
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="pasillo2-pasillo1"></rw-doorhole>
        </rw-wall>
        
        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>
    <rw-doorlink from="#pasillo2-bano1" width="1.25" height="2.15" to="#bano1" position="2 0 0"></rw-doorlink>

    <!-- bedroom 3-->
    <rw-room position="4.00 0.01 -16" width="7" length="8" height="3">
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
            
        </rw-wall>
        <rw-wall material="color:#FFF">
            <rw-doorhole id="habitacion3-bano2"></rw-doorhole> 
            <rw-doorlink from="#habitacion3-bano2" to="#bano2" width="1.25" height="2.15" position="2 0 0"></rw-doorlink>
        </rw-wall>
        <rw-wall material="color:#FFF">w
            <rw-doorhole id="habitacion3"></rw-doorhole>

        </rw-wall>
        

        <a-gltf-model id="id_bed_3" src="#bed_1" scale="0.5 0.5 0.5" position="3 0.01 2" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_main_wardrobe" src="#main_wardrobe" scale="0.5 0.5 0.5" position="6.7 0.01 5" rotation="0 180 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_vanity" src="#vanity" scale="1 1 1" position="6.5 0.01 2" rotation="0 270 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_bedside_table_2" src="#bedside_table_1" scale="0.35 0.2 0.35" position="1 0.01 0.35" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_bedside_table_3" src="#bedside_table_1" scale="0.35 0.2 0.35" position="5 0.01 0.35" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_main_lamp_2" src="#main_lamp" scale="1 1 1" position="5 0.6 0.4" rotation="0 0 0" class = "clickable"></a-gltf-model>
        <a-gltf-model id="id_main_lamp_3" src="#main_lamp" scale="1 1 1" position="1 0.6 0.4" rotation="0 0 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_main_painting" src="#painting_1" scale="1 1 1" position="3 1.4 0.05" rotation="0 90 0" class = "clickable"></a-gltf-model>

        
        



        <rw-floor material="src:#wood-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>
    
    </rw-room>
    <!-- bathroom 2-->
    <rw-room position="6 0.01 -8" width="5" length="3.5" height="3">
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
            <rw-doorhole width="1" id="bano2"></rw-doorhole>
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
        
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">
            
        </rw-wall>
        <rw-wall material="src:#bathroom-wall;repeat:2 2">

        </rw-wall>
        

        <a-gltf-model id="id_bathtub" src="#bathtub" scale="1.3 1.4 2.26" position="3.9 0.01 0" rotation="0 180 0" class = "clickable" ></a-gltf-model>
        <a-gltf-model id="id_toilet_2" src="#toilet_2" scale="1.5 1.5 1.5" position="1.5 0.01 3.5" rotation="0 180 0" class = "clickable"></a-gltf-model>
        
        <rw-floor material="src:#bathroom-floor;repeat:2 2"></rw-floor>
        <rw-ceiling material="color:#FFF"></rw-ceiling>

    </rw-room>
    </a-scene>
        <!-- Add more games as needed -->
    
        <footer>
            <script>
                window.onload = function () {
                    var selectedObjects = JSON.parse('{{ selected_object_ids|safe }}');
                    var color = '{{ random_colors }}';
                    var new_color = '{{ new_color }}';
                    var change_objects = JSON.parse('{{ change_objects|safe }}');
        
                    
                    changeColorForObjects(selectedObjects, color, true);
        
                    
                    changeColorForObjects(change_objects, new_color, false);
                };
        
                function changeColorForObjects(objects, color, disappear) {
                    for (var i = 0; i < objects.length; i++) {
                        if (disappear) {
                            document.getElementById(objects[i]).setAttribute("object-disappear", ""); 
                        }
                        changeColor(objects[i], color);
                    }
                }
        
                function changeColor(object_id, color) {
                    var modelEntity = document.querySelector("#" + object_id);
                    modelEntity.addEventListener("model-loaded", function () {
                        var model = modelEntity.getObject3D("mesh");
                        model.traverse(function (node) {
                            if (node.isMesh) {
                                node.material.color.set(color);
                            }
                        });
                    });
                }
            </script>
        </footer>
        </div>
        {% endblock %}
        

