{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Registration</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/register.css' %}">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-5 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-body">
            <h5 class="card-title text-center">User Registration</h5>
            <form method="post">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="id_username">Username</label>
              </div>
              {{ form.username.errors }}
              <hr>
              <div class="form-label-group">
                <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Password" required>
                <label for="id_password1">Password</label>
              </div>
              {{ form.password1.errors }}
              <div class="form-label-group">
                <input type="password" id="id_password2" name="password2" class="form-control" placeholder="Confirm Password" required>
                <label for="id_password2">Confirm Password</label>
              </div>
              {{ form.password2.errors }}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'polls:custom_login' %}" class="btn btn-secondary">Log In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
