body, html {
    height: 100%;
    background: #FFA477;
    margin: 0;
}

.container {
    margin-top: 30px;
}

.game-stats-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.game-stats {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width of container */
    max-width: 500px; /* Adjust this for making it bigger */
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.game-stats:hover {
    transform: scale(1.03);
}

.h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.game-stats-section {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px; /* Set a maximum height for the scrollable section */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.game-stats-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.game-stats p {
    font-size: 16px;
    color: #333;
    text-align: center;
}

/* Style for "No game sessions found" message */
.game-stats-section .no-sessions {
    font-size: 20px; /* Increased font size */
    color: #FF0000; /* Red color */
    text-align: center;
}

#patient-stats-graph div {
    height: 600px !important;
    width: 1000px !important;
}
