body, html {
    height: 100%;
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
}

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.text-section {
    text-align: center;
    color: white;
}

.text-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-section .alert {
    background-color: #4CAF50;
    color: white;
}

#datetime {
    font-size: 24px;
    color: white;
}

#num-patients {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

#container_iframe div {
    height: 500px !important;
}

.image-section {
    margin-top: 30px;
}

.image-section img {
    width: 80%; /* Use 100% width for responsive images */
    max-width: 100%;
}
