body, html {
    height: 100%;
    margin: 0;
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
}

.container {
    margin-top: 30px;
}

.welcome {
    color: white;
    font-size: 46px;
    margin-bottom: 20px;
}

.patient-list {
    list-style: none;
    padding: 0;
}

.patient-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.patient-item:hover {
    transform: scale(1.05);
}

.patient-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

/* Added date styling */
.date-added {
    display: block;
    font-size: 14px;
    color: #888;
}

.image-column {
    text-align: right;
}

.image-column img {
    height: 90vh;
    width: auto;
}
